
<div class='item-container'>
  <%= button_to 'New Task', new_task_path, method: :get%>
</div>

  <% @tasks.each do |task| %>
    <div class='item-container'>
      <%= task_link(task)%>
    </div>
  <% end %>
