@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

// colors
$main: #3778c2;
$link: rgb(64, 215, 235);
$second: #5fb523;
$text-color: #433b54;

$font: 'Open Sans', sans-serif;

p {
  margin: 0;
}

:root {
  font-family: $font;
}

.login {
  background: $main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  color: white;

  .log-lnk {
    display: flex;
    justify-content: center;
  }

  .btn-log {
    background-color: white;
    color: $main;
    font-size: 4vh;
    font-weight: bolder;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: $main;
  color: white;

  .title {
    text-transform: uppercase;
    font-weight: bolder;
  }

  a {
    color: white;

    :hover {
      text-decoration: none;
      color: $link;
    }
  }
}

.info-container {
  padding: 2vh;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  border: $main solid 1px;
  margin-bottom: 1vh;

  .avatar {
    height: 12vh;
    width: 12vh;
    background-position: center;
    background-size: cover;
    padding-top: 5vh;
  }
}

.task-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 8px 16px;
}
