<div class='navbar'>
  <%= link_to raw('<i class="fas fa-home"></i>'), new_user_path %>
  <p class='title'><%= navbar_title %></p>

  <%= link_to raw('<i class="fas fa-power-off"></i>'), log_out_path, method: :post %>
</div>